@import "utilities";

/* @include font-face(Meta, '/assets/fonts/MetaWeb-Book', 400, normal);
@include font-face(Meta, '/assets/fonts/MetaWeb-Bold', 600, normal); */

@font-face {
	font-family: Meta;
	src: url('../../fonts/MetaWeb-Book.eot');
	src: url('../../fonts/MetaWeb-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Meta;
	src: url('../../fonts/MetaWeb-Bold.eot');
	src: url('../../fonts/MetaWeb-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

$sans: Meta, Helvetica, sans-serif;

$blue: #0F4083;
$orange: #EE601E;
$yellow: #FDB30C;
$light-blue: #E6EAF0;